%link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
%h1
    Clients
 
= render partial: "table", locals: { clients: @clients }