// FORMS //
.form-horizontal .form-group {
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
  border-radius: 6px;
  -webkit-appearance: none;
  appearance: none;
}

input {
  border-radius: 6px;
  background: white;
  border: 1px solid #d9d9de !important;
  color: #0f2105;
  font-size: 14px;
  margin: 0;
  padding: 6px 5px;
}

input:focus {
    border-color: #00a0ff !important;
    background-color: #FFF;
    -webkit-box-shadow: #e8f6ff 0 0 5px;
    -moz-box-shadow: #e8f6ff 0 0 5px;
    -ms-box-shadow: #e8f6ff 0 0 5px;
    -o-box-shadow: #e8f6ff 0 0 5px;
    box-shadow: #e8f6ff 0 0 5px;
    outline: none;
}

  // BUTTONS //

.btn {
    border-radius: 6px;
    border: none !important;
}
  
.btn-lg {
    font-size: 16px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}
  
  .btn-md {
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
  }
  
  .btn-default {
    border: 1px solid #ccc !important;
  }